body{
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    background: #023e8a;
}

h1{
    color: seashell;
    font-size: 60px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    border: solid #03045e 12px;
    border-radius: 15px;
    background:#ade8f4;
    width: 600px;
}

#display{
    display: flex;
    justify-content:end;
    height: 70px;
    font-size: 45px;
    background:#0077b6;
    color: #caf0f8;
    border-radius: 5px;
    margin: 5px;
    padding: 0 5px;
    vertical-align: middle;
}

.rows{
    display: flex;
    justify-content: space-evenly;
    margin: 2px;
}

.btn, .oper{
    text-align: center;
    font-size:50px;
    width: 100%;
    height: auto;
    /* color:#ade8f4; */
    /* background-color:#0096c7; */
    border-radius: 5px;
    margin: 3px;
    padding: 8px;
    flex: 1 1 0;
}
.btn{
    background: #336cad;
    color: whitesmoke;
    border: solid 4px black;
    border-style: ridge;
}
.btn:hover{
    background-color: #0096c7;
}
.btn:active {
    background-color: #1e4ba0;
    box-shadow: 0 5px rgb(43, 23, 133);
    transform: translateY(4px);
  }
.oper{
    background-color:#19a3c5f5;
    color:#390099;
}
.special{
    flex: 2 1 0;
    padding: 10px 20px;
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 35px;
    }
    .btn, .oper{
        font-size:30px;
        width: 100%;
        height: auto;
    }
    #display {
        font-size: 25px;
        height: 50px;
        padding-top: 10px;
    }
    .container{
        width:60%;
        height: auto
    }
}

@media screen and (max-width: 400px) {
    h1{
        font-size:25px;
    }
    #display {
        font-size: 20px;
        height: 40px;
    }
}
