body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background: rgb(12, 7, 85);
}
h1{
    color: seashell;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    border: solid rgb(21, 105, 173) 5px;
    width: 600px;
}
#display{
    display: flex;
    justify-content:end;
    height: 60px;
    font-size: 50px;
    background: lightskyblue;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
}
.rows{
    display: flex;
    justify-content: space-evenly;
    margin: 2px;
}
.btn, .oper{
    text-align: center;
    font-size:50px;
    width: 100%;
    height: auto;
    background-color: lightseagreen;
    border: green solid 1px;
    border-radius: 5px;
    margin: 3px;
    padding: 8px;
    flex: 1 1 0;
    
}
.oper{
    background-color: lightsalmon;
}
.special{
    flex: 2 1 0;
    padding: 10px 20px;
}

.specialTop{
    flex: 3 1 0;
    padding: 10px 32px;
}
.btn:hover{
    background-color: lightblue;
}

@media screen and (max-width: 600px) {
    .btn, .oper{
        font-size:30px;
        width: 100%;
        height: auto;
        
    }
    #display {
        font-size: 35px;
        height: 50px;
        padding-top: 10px;
    }
    .container{
        width:60%;
        height: auto
    };
}
@media screen and (max-width: 400px) {
    #display {
        font-size: 30px;
        height: 40px;
    }
}